{{> "algolia" }}
<header class="md:hidden p-4 bg-darker flex justify-between items-center sticky top-0 z-20">
    <div class="text-lighter text-lg font-bold"><a href="{{@site.url}}">{{@site.title}}</a></div>
    <button id="menuButton" class="text-lighter focus:outline-none" onclick="toggleSidebar()" aria-label="Open sidebar menu">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
    </button>
</header>

<div id="overlay" class="fixed inset-0 bg-black opacity-50 hidden" onclick="toggleSidebar()"></div>

<aside id="sidebar" class="w-64 bg-darker h-screen p-6 fixed md:block hidden z-10 transform md:translate-x-0 -translate-x-full transition-transform duration-300 overflow-y-scroll">
    <div id="logo" class="mb-6">
        {{#if @site.logo}}
        <a class="logo" href="{{@site.url}}">
            <img src="{{@site.logo}}" alt="{{@site.title}}" class="w-full h-auto" loading="lazy">
        </a>
        {{else}}
        <div class="text-lighter text-lg font-bold">{{@site.title}}</div>
        {{/if}}
    </div>

    <section class="mb-6">
        <button type="button" class="inline-flex justify-between w-full rounded-md border border-dark px-4 py-2 bg-dark text-lighter" id="languageMenuButton" aria-expanded="true" aria-haspopup="true">
                            <!-- SVG icon to the left of the navigation item -->
                <svg class="h-5 w-5 text-light" role="img" aria-label="{{label}}">
                    <use xlink:href="#icon-i18n"></use>
                </svg>Languages
            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </button>

        <div class="origin-top-right mt-2 rounded-md shadow-lg bg-dark ring-1 ring-black ring-opacity-5">
            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="languageMenuButton">
                <a href="{{@site.url}}/es/" class="block px-4 py-2 text-sm text-light hover:bg-darker hover:text-lighter" role="menuitem">
                    Español
                </a>
                <a href="{{@site.url}}/en/" class="block px-4 py-2 text-sm text-light hover:bg-darker hover:text-lighter" role="menuitem">
                    English
                </a>
                <a href="{{@site.url}}/br/" class="block px-4 py-2 text-sm text-light hover:bg-darker hover:text-lighter" role="menuitem">
                    Brasil
                </a>
            </div>
        </div>
    </section>

    <button class="block mb-2 w-full rounded-full bg-dark text-lighter shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:bg-highlight hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-highlight focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:bg-highlight active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0" aria-label="Search in SREDevOps.org" onclick="openModal(search.start());" oninput="openModal();" onkeypress="openModal();" rel="search">
        Search 
    </button>

    <section id="nav" class="mb-6">
        {{navigation}}
    </section>
    <section id="members" class="text-light">
        {{> "social-sso"}}
        {{#if @member}}
        <div class="flex items-center gap-2">
            <img src="{{@member.avatar}}" alt="{{@member.name}}" class="w-8 h-8 rounded-full">
            <span>{{@member.name}}</span>
        </div>
        {{else}}
        {{/if}}
    </section>
</aside>

