{{#if isSecondary}}
    <ul class="flex flex-wrap justify-center space-x-2 text-sm" role="menu">
        {{#foreach navigation}}
            <li class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark" role="menuitem">
                <!-- SVG icon to the left of the navigation item -->
                <svg class="w-5 h-5 text-light" role="img" aria-label="{{label}}">
                    <use xlink:href="{{concat '#icon-' slug}}"></use>
                </svg>
                <a href="{{url absolute="true"}}" class="text-light hover:text-lighter">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
{{else}}
    <ul class="space-y-1 nav" role="menu">
        {{#foreach navigation}}
            <li class="{{link_class for=(url) class=(concat "nav-"slug)}} flex items-center gap-2 rounded-lg px-4 py-2 text-light hover:text-lighter hover:bg-dark" role="menuitem">
                <!-- SVG icon to the left of the navigation item -->
                <svg class="w-5 h-5 text-light" role="img" aria-label="{{label}}">
                    <use xlink:href="{{concat '#icon-' slug}}"></use>
                </svg>
                <a href="{{url absolute="true"}}" class="text-light hover:text-lighter">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
{{/if}}
