{{#match @custom.share_buttons }}
{{!-- Social Share Links --}}
<div class="flex justify-center my-4 flex-wrap gap-4">
  <span class=" text-sm align-middle" >Share this post:</span>
  <a href="https://twitter.com/intent/tweet?url={{url absolute=" true"}}&text={{encode title}}" target="_blank"
    rel="noopener noreferrer" class="text-lighter">
    <svg class="w-5 h-5 text-light" role="img" aria-label="X">
      <use xlink:href="#icon-x"></use>
    </svg>
    <span class="sr-only">X</span>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute=" true"}}" target="_blank"
    rel="noopener noreferrer" class="text-lighter">
    <svg class="w-5 h-5 text-light" role="img" aria-label="Facebook">
      <use xlink:href="#icon-facebook"></use>
    </svg>
    <span class="sr-only">Facebook</span>
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute=" true"}}&title={{encode title}}"
    target="_blank" rel="noopener noreferrer" class="text-lighter">
    <svg class="w-5 h-5 text-light" role="img" aria-label="LinkedIn">
      <use xlink:href="#icon-linkedin"></use>
    </svg>
    <span class="sr-only">LinkedIn</span>
  </a>
  <a href="https://api.whatsapp.com/send?text={{encode title}}%20{{url absolute=" true"}}" target="_blank"
    rel="noopener noreferrer" class="text-lighter">
    <svg class="w-5 h-5 text-light" role="img" aria-label="WhatsApp">
      <use xlink:href="#icon-whatsapp"></use>
    </svg>
    <span class="sr-only">WhatsApp</span>
  </a>

  <a href="https://www.reddit.com/submit?url={{url absolute=" true"}}&title={{encode title}}" target="_blank"
    rel="noopener noreferrer" class="text-lighter">
    <svg class="w-5 h-5 text-light" role="img" aria-label="Reddit">
      <use xlink:href="#icon-reddit"></use>
    </svg>
    <span class="sr-only">Reddit</span>
  </a>

  <a href="https://mastodon.social/share?text={{encode title}}%20{{url absolute=" true"}}" target="_blank"
    rel="noopener noreferrer" class="text-lighter">
    <svg class="w-5 h-5 text-light" role="img" aria-label="Mastodon">
      <use xlink:href="#icon-mastodon"></use>
    </svg>
    <span class="sr-only">Mastodon</span>
  </a>
</div>
{{/match}}
{{! End of social share links }}
{{! End of partials/social-share.hbs }}