{{!< default}}
<main id="main" class="container pt-6 pb-6 mx-auto md:pl-64">
{{#is "author"}}
    {{> "tags-nav" }}
    <section name="author-profile">
    <span class="text-sm italic font-light ">Author profile and content at {{@site.title}} </span>
    <h1 class="pb-4 text-4xl">
        <a href="{{url absolute="true"}}" rel="author" alt="All content published by {{name}} in {{@site.title}}">{{name}}</a></h1>
    <h2 class="pb-4 text-xl">{{bio}}</h2>
    {{#if twitter}}
        <a href="{{twitter_url}}" target="_blank" rel="noopener">Twitter</a>
    {{/if}}
    {{#if website}}
        <a href="{{website_url}}" target="_blank" rel="noopener">Website</a>
    {{/if}}
    {{#if facebook}}
        <a href="{{facebook_url}}" target="_blank" rel="noopener">Facebook</a>
    {{/if}}
    {{#if profile_image}}
        <img src="{{profile_image_url}}" alt="{{name}}'s profile image">
    {{/if}}
    {{#if cover_image}}
        <img src="{{cover_image_url}}" alt="{{name}}'s cover image">
    {{/if}}
    {{#if url}}
        <a href="{{url}}" target="_blank" rel="noopener">Websitew</a>
    {{/if}}
    </section>
    
    {{> "posts-list" }}

{{/is}}

</main>

