        {{!< default}}
<main id="main" class="container pt-6 pb-6 mx-auto md:pl-64">
{{> "tags-nav" }}

        {{#author}}
        <header class="flex flex-col">
            {{#if profile_image}}
                <img class="w-24 h-24 rounded-full" src="{{profile_image}}" alt="{{name}}" />
            {{/if}}

            <h1 class="text-4xl">{{name}}</h1>
            {{#if bio}}
                <p class="text-lg">{{bio}}</p>
            {{/if}}

            <div class="flex gap-2 mb-4">
                <div class="flex items-center gap-2 text-sm">
                    {{#if website}}
                        <a href="{{website}}" target="_blank" rel="noopener" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark">
                            <svg class="w-5 h-5 text-light" role="img" aria-label="Website">
                                <use xlink:href="#icon-link"></use>
                            </svg>
                            Website
                        </a>
                    {{/if}}
                    {{#if twitter}}
                        <a href="{{social_url type="twitter"}}" target="_blank" rel="noopener" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark"  target="_blank" rel="noopener">
                            <svg class="w-5 h-5 text-light" role="img" aria-label="Twitter">
                                <use xlink:href="#icon-x"></use>
                            </svg>
                            Twitter
                        </a>
                    {{/if}}
                    {{#if facebook}}
                        <a href="{{social_url type="facebook"}}" target="_blank" rel="noopener" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark" target="_blank" rel="noopener">
                            <svg class="w-5 h-5 text-light" role="img" aria-label="Facebook">
                                <use xlink:href="#icon-facebook"></use>
                            </svg>
                            Facebook
                        </a>
                    {{/if}}

                    {{#if linkedin}}
                        <a href="{{social_url type="linkedin"}}" target="_blank" rel="noopener" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark">
                            <svg class="w-5 h-5 text-light" role="img" aria-label="Linkedin">
                                <use xlink:href="#icon-linkedin"></use>
                            </svg>
                            Linkedin
                        </a>
                    {{/if}}
                    {{#if threads}}
                        <a href="{{social_url type="threads"}}" target="_blank" rel="noopener" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark">
                            <svg class="w-5 h-5 text-light" role="img" aria-label="Threads">
                                <use xlink:href="#icon-threads"></use>
                            </svg>
                            Threads
                        </a>
                    {{/if}}
                    {{#if bluesky}}
                        <a href="{{social_url type="bluesky"}}" target="_blank" rel="noopener" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark">
                            <svg class="w-5 h-5 text-light" role="img" aria-label="Bluesky">
                                <use xlink:href="#icon-bluesky"></use>
                            </svg>
                            Bluesky
                        </a>
                    {{/if}}
                    {{#if mastodon}}
                        <a href="{{social_url type="mastodon"}}" target="_blank" rel="noopener" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark">
                            <svg class="w-5 h-5 text-light" role="img" aria-label="Mastodon">
                                <use xlink:href="#icon-mastodon"></use>
                            </svg>
                            Mastodon
                        </a>
                    {{/if}}
                    {{#if tiktok}}
                        <a href="{{social_url type="tiktok"}}" target="_blank" rel="noopener" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark">
                            <svg class="w-5 h-5 text-light" role="img" aria-label="TikTok">
                                <use xlink:href="#icon-tiktok"></use>
                            </svg>
                            TikTok
                        </a>
                    {{/if}}
                    {{#if youtube}}
                        <a href="{{social_url type="youtube"}}" target="_blank" rel="noopener" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark">
                            <svg class="w-5 h-5 text-light" role="img" aria-label="YouTube">
                                <use xlink:href="#icon-youtube"></use>
                            </svg>
                            YouTube
                        </a>
                    {{/if}}
                    {{#if instagram}}
                        <a href="{{social_url type="instagram"}}" target="_blank" rel="noopener" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark">
                            <svg class="w-5 h-5 text-light" role="img" aria-label="Instagram">
                                <use xlink:href="#icon-instagram"></use>
                            </svg>
                            Instagram
                        </a>
                    {{/if}}

                    {{#match slug "==" "ngeorger"}}
                        <a href="mailto:ngeorger@sredevops.org" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark" target="_blank" rel="noopener">
                            <svg class="w-5 h-5 text-light" role="img" aria-label="Email">
                                <use xlink:href="#icon-contact-us"></use>
                            </svg>
                            Email
                        </a>
                    {{/match}}
                    {{#if location}}
                        <span  class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark text-light">
                            <svg class="w-5 h-5 text-light" role="img" aria-label="Location">
                            <use xlink:href="#icon-globe"></use>
                        </svg>
                            {{location}}
                        </span>
                    {{/if}}
                </div>
            </div>

            {{!-- {{#if cover_image}}
                <img class="gh-page-image" src="{{cover_image}}" alt="{{name}}" />
            {{/if}} --}}
        </header>
        {{/author}}



{{> "posts-list" }}

</main>
