<!DOCTYPE html>
<html lang="{{@site.locale}}" data-types="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="stylesheet" href="{{asset "built/noto.css"}}">
    {{#is "page, post"}}
    <link rel="stylesheet" href="{{asset "built/prism.css"}}">
    {{/is}}

{{ghost_head}}
</head>

<body class="{{body_class}} bg-darker">
<div>

    {{!-- Header --}}
    {{> header}}

    {{!-- Main content, dynamically inserted here --}}
    <main class="container mx-auto my-auto md:pl-32" id="main">
        {{{body}}}
    </main>

    {{!-- Footer --}}
    {{> footer}}
</div> 

<script src="{{asset "built/main.js"}}"></script>
{{ghost_foot}}

</body>
</html>