<!DOCTYPE html>
<html lang="{{@site.locale}}" data-types="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>

    <!-- Preconnect and Preload Fonts -->
    {{!-- <link rel="preload" as="font" type="font/woff2" href="{{asset "fonts/NotoSans.woff2"}}">
    <link rel="preload" href="{{asset "built/noto.css"}}" as="style"> --}}

    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="stylesheet" href="{{asset "built/noto.css"}}">


    {{> "icons"}}

    {{#is "post"}}
    <link rel="stylesheet" href="{{asset "built/prism.css"}}">
    {{/is}}

    {{ghost_head}}
</head>

<body class="{{body_class}} bg-darker">

    {{!-- Header --}}
    {{> header}}

    {{!-- Main content, dynamically inserted here --}}
        {{{body}}}

    {{!-- Footer --}}
    {{> footer}}

<script src="{{asset "built/main.js"}}"></script>
{{ghost_foot}}

</body>
</html>
