<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    {{#is "post"}}
        <script src="{{asset "built/prism.js"}}"></script>
        <link rel="stylesheet" href="{{asset "built/prism.css"}}">
    {{/is}}

    {{> "typography/noto"}}

    {{!-- {{> "algolia"}} --}}

    {{ghost_head}}
</head>

<body class="{{body_class}} bg-gradient-to-r from-darker via-darker to-dark">

    {{> "icons"}}
    {{> "components/nav"}}

    {{!-- Main content, dynamically inserted here --}}
    {{{body}}}

    {{!-- Footer --}}
    {{> "components/footer"}}

<script src="{{asset "built/main.js"}}"></script>
{{ghost_foot}}

</body>
</html>
