<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <!-- Excludes card_assets, cta_styles, comment_counts, announcement from ghost_head on home, tag, author and index template -->
    {{#is "home, tag, author, index, paged"}}
    {{ghost_head exclude="card_assets, cta_styles, comment_counts, announcement"}}
    {{else}}
    {{ghost_head exclude="cta_styles, comment_counts, announcement"}}
    {{/is}}
    <!-- End Excludes card_assets, cta_styles, comment_counts, announcement from ghost_head on home, tag, author and index template -->



    <!-- Loads PrismJS, Tocbot and card assets only on posts -->
    {{#is "post, page"}}
        <script src="{{asset "built/prism.js"}}"></script>
        <link rel="stylesheet" href="{{asset "built/prism.css"}}">
        <link rel="stylesheet" href="{{asset "built/tocbot.css"}}">
        <link rel="stylesheet" href="{{asset "built/cards.css"}}">
    {{/is}}
    <!-- End Loads PrismJS, Tocbot and card assets only on posts -->


</head>

<body class="{{body_class}}" style="background:{{@custom.background_color }}!important;">

    {{> "components/nav"}}

    {{!-- Main content, dynamically inserted here --}}
    {{{body}}}

    {{!-- Footer --}}
    {{> "components/footer"}}

<script src="{{asset "built/main.js"}}" defer></script>

<!-- Load Tocbot only on posts -->
{{#is "post"}}
    <script src="{{asset "built/tocbot.js"}}"></script>
        <script>
            tocbot.init({
                // Where to render the table of contents.
                tocSelector: '.gh-toc',
                // Where to grab the headings to build the table of contents.
                contentSelector: '.gh-content',
                // Which headings to grab inside of the contentSelector element.
                headingSelector: 'h1, h2, h3, h4',
                // Ensure correct positioning
                hasInnerContainers: true,
            });
        </script>
{{/is}}

<!-- Load SVG Icons -->
{{> "icons"}}

{{ghost_foot}}

</body>
</html>
