<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    {{#is "home"}}
    <link rel="alternate" hreflang="pt-BR" href="{{@site.url}}/br/" />
    <link rel="alternate" hreflang="en" href="{{@site.url}}/en/" />
    <link rel="alternate" hreflang="es" href="{{@site.url}}/es/" />
    <link rel="alternate" hreflang="x-default" href="{{@site.url}}" />
    {{/is}}

    {{> "typography/noto"}}

    <link rel="stylesheet" href="{{asset "built/screen.css"}}">

    {{> "icons"}}

    {{#is "post, page"}}
    <link rel="stylesheet" href="{{asset "built/prism.css"}}">
    {{/is}}

    {{ghost_head}}
</head>

<body class="{{body_class}} bg-gradient-to-r from-darker via-darker to-dark">

    {{!-- Header --}}
    {{> header}}

    {{!-- Main content, dynamically inserted here --}}
        {{{body}}}

    {{!-- Footer --}}
    {{> footer}}

<script src="{{asset "built/main.js"}}"></script>
{{ghost_foot}}

</body>
</html>
