{{!< default}}
{{!--  --}}
    <main class="container mx-auto my-auto pl-32">
        <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
            <!-- Column 1: Español -->
            <div class="flex-1 p-10">
                <h2 class="text-4xl text-lighter mb-4 font-semibold"><a href="/es/" alt="SREDevOps.org - Español"
                        hreflang="es">&#127464;&#127473;&#127466;&#127480; Español</a></h2>
                <div class="space-y-4">
                    {{#get "posts" filter="tag:es" include="tags" limit="3"}}
                    {{#foreach posts}}
                    <article
                        class="overflow-hidden rounded-lg shadow transition hover:shadow-lg dark:shadow-gray-700/25">
                        <img alt="{{title}}" src="{{img_url feature_image size='m'}}"
                            class="h-56 w-full object-cover" />
                        <div class="bg-white p-4 sm:p-6 dark:bg-dark">
                            <time datetime="{{date format=" DD-MM-YYYY"}}"
                                class="block text-xs text-light dark:text-light">
                                {{date format="DD/MM/YYYY"}}
                            </time>

                            <a href="{{url}}" alt="{{title}}" rel="bookmark">
                                <h3 class="mt-0.5 text-lg text-lighter dark:text-lighter">
                                    {{title}}
                                </h3>
                            </a>

                            <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500 dark:text-light">
                                {{excerpt characters="400"}}... <a href="{{url}}" alt="{{title}}" rel="bookmark"
                                    class="font-bold"> Leer más &rarr;</a>
                            </p>
                        </div>
                    </article>
                    {{/foreach}}
                    {{/get}}
                </div>
            </div>
            <!-- Column 2: English -->
            <div class="flex-1 p-10">
                <h2 class="text-4xl text-lighter mb-4 font-semibold"><a href="/en/" alt="SREDevOps.org - English"
                        hreflang="en"> 🇬🇧🇺🇸 English</a></h2>
                <div class="space-y-4">
                    {{#get "posts" filter="tag:en" include="tags" limit="3"}}
                    {{#foreach posts}}
                    <article
                        class="overflow-hidden rounded-lg shadow transition hover:shadow-lg dark:shadow-gray-700/25">
                        <img alt="{{title}}" src="{{img_url feature_image size='m'}}"
                            class="h-56 w-full object-cover" />
                        <div class="bg-white p-4 sm:p-6 dark:bg-dark">
                            <time datetime="{{date format=" DD-MM-YYYY"}}"
                                class="block text-xs text-gray-500 dark:text-light">
                                {{date format="DD/MM/YYYY"}}
                            </time>

                            <a href="{{url}}" alt="{{title}}" rel="bookmark">
                                <h3 class="mt-0.5 text-lg text-lighter dark:text-lighter">
                                    {{title}}
                                </h3>
                            </a>

                            <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500 dark:text-light">
                                {{excerpt characters="400"}}... <a href="{{url}}" alt="{{title}}" rel="bookmark"
                                    class="font-bold"> Leer más &rarr;</a>
                            </p>
                        </div>
                    </article>
                    {{/foreach}}
                    {{/get}}
                </div>
            </div>
            <!-- Column 3: Brazilian Portuguese -->
            <div class="flex-1 p-10">
                <h2 class="text-4xl text-lighter mb-4 font-semibold"><a href="/br/"
                        alt="SREDevOps.org - Português Brasileiro" hreflang="pt"> 🇧🇷 Português</a></h2>
                <div class="space-y-4">
                    {{#get "posts" filter="tag:br" include="tags" limit="3"}}
                    {{#foreach posts}}
                    <article
                        class="overflow-hidden rounded-lg shadow transition hover:shadow-lg dark:shadow-gray-700/25">
                        <img alt="{{title}}" src="{{img_url feature_image size='m'}}"
                            class="h-56 w-full object-cover" />
                        <div class="bg-white p-4 sm:p-6 dark:bg-dark">
                            <time datetime="{{date format=" DD-MM-YYYY"}}"
                                class="block text-xs text-gray-500 dark:text-light">
                                {{date format="DD/MM/YYYY"}}
                            </time>

                            <a href="{{url}}" alt="{{title}}" rel="bookmark">
                                <h3 class="mt-0.5 text-lg text-lighter dark:text-lighter">
                                    {{title}}
                                </h3>
                            </a>

                            <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500 dark:text-light">
                                {{excerpt characters="400"}}... <a href="{{url}}" alt="{{title}}" rel="bookmark"
                                    class="font-bold"> Leer más &rarr;</a>
                            </p>
                        </div>
                    </article>
                    {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </div>
    </main>