{{!< default}}

<main id="main post-wrapper">

  {{#post}}
 


  <!-- Post Content Section -->
  <article class="max-w-full px-4 mx-auto post-content prose-invert prose-lg text-light md:px-32">
    <section class="mb-8 text-center post-meta">
                 {{#if @page.show_title_and_feature_image}}
 <h1 class="text-4xl font-bold leading-tight md:text-5xl">{{title}}</h1>
                      <!-- Feature Image -->
                {{#if feature_image}}
                <picture>
                    <source 
                        srcset="{{img_url feature_image size="s" format="webp"}} 300w,
                                {{img_url feature_image size="m" format="webp"}} 600w,
                                {{img_url feature_image size="l" format="webp"}} 1000w,
                                {{img_url feature_image size="xl" format="webp"}} 2000w"
                        sizes="(min-width: 1400px) 1400px, 92vw" 
                        type="image/webp"
                    >
                    <source 
                        srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 600w,
                                {{img_url feature_image size="l"}} 1000w,
                                {{img_url feature_image size="xl"}} 2000w"
                        sizes="(min-width: 1400px) 1400px, 92vw"
                    >
                    <img src="{{img_url feature_image}}" alt="{{title}} feature image" class="object-cover w-full mb-8" loading="lazy">
                </picture>
                {{/if}}

    </section>
 {{/if}}

    <!-- Main Post Content -->
    <section>
      {{{content}}}
    </section>

  </article>

  {{/post}}

</main>

