{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#post}}
<div class="mb-4 mt-4"></div>
<main class="gh-main">
    <article class="gh-article">
          <div class="l-content">
              <div class="l-wrapper" data-animate="fade-up">
                <div class="l-tags-container">
                  {{#get 'tags' limit='all' include='count.posts,description,feature_image' order='count.posts desc'}}
                    {{#foreach tags}}
                      <div class="m-tag-card">
                        <a href="{{url}}" class="m-tag-card__link {{#unless feature_image}}no-picture{{/unless}}" aria-label="{{name}}">
                          {{#if feature_image}}
                            <img class="m-tag-card__picture" src="{{img_url feature_image size="xs"}}" loading="lazy" alt="{{name}}">
                          {{/if}}
                          <div class="m-tag-card__info {{#unless feature_image}}no-picture{{/unless}}">
                            <h4 class="m-tag-card__name">{{name}}</h4>
                            <span class="m-tag-card__description">{{description}}</span>
                            <span class="m-tag-card__counter">
                              {{plural count.posts empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}
                            </span>
                          </div>
                        </a>
                      </div>
                      {{else}}
                        <p class="m-not-found">
                          {{t "No tags found :("}}
                        </p>
                    {{/foreach}}
                  {{/get}}
                </div>
              </div>
          </div>
    </article>  
</main>
{{/post}}
