{{!< default}}
{{#post}}
<article class="container mx-auto p-6 md:pl-32">
<header class="py-0 md:py-0">
  <div class="px-4">
  {{#match @page.show_title_and_feature_image}}

  <h1 class="text-[32px] font-light md:text-[45px] leading-tight">
      {{title}}
  </h1>
    {{#if custom_excerpt}}
    <p class="gh-article-excerpt">{{custom_excerpt}}</p>
    {{/if}}
    
    <figure>
        <img src="{{imag_url}}" alt="{{title}}" class="mb-8">
    </figure>
    
    </div>
    </header>
    {{/match}}

    <div id="content">

            {{content}}

    </div>
  </div>
</section>




</article>
{{/post}}
