{{!< default}}

<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-neutral-900 antialiased">
  <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
  {{#post}}
  <!-- Post Content Section -->
  <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
    {{#is "page"}}
      {{#if @page.show_title_and_feature_image}}
            <h1 class="mb-4 text-3xl font-bold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
              {{title}}
            </h1>
        {{> "feature-image"}}
      {{/if}}
    {{/is}}

    {{#is "post"}}
          <header class="mb-4 lg:mb-6 not-format">
            <address class="flex items-center mb-6 not-italic">
              <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                {{#foreach authors}}
                <img class="mr-4 w-16 h-16 rounded-full" src="{{profile_image}}"
                  alt="{{name}}">
                <div>
                    <a href="{{url}}" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">
                    {{name}}
                    </a>
                    {{/foreach}}
                  <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="{{date published_at}}"
                      title="{{date published_at}}">{{date published_at format="D MMMM YYYY"}}</time></p>
                </div>
              </div>
            </address>
            <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
              {{title}}
            </h1>
            <p class="text-base text-gray-500 dark:text-gray-400">
              {{#foreach tags}}
              <a href="{{url}}">{{name}}</a>
              {{/foreach}}
            </p>
                  {{> "feature-image" }}
          </header>
    {{/is}}
    <!-- Main Post Content -->
      {{{content}}}
  </article>

  {{/post}}

</main>
