{{!< default}}

<main id="main post-wrapper">

  {{#post}}
  <!-- Hero Section with Feature Image -->




  <!-- Post Content Section -->
  <article class="post-content prose-invert prose-lg max-w-full text-light mx-auto px-4 md:px-32">
      <h1 class="text-4xl md:text-5xl font-bold leading-tight">{{title}}</h1>
    <section class="post-meta text-center mb-8">
      <div class="text-sm text-light mb-2">
        {{#foreach authors}}
          <a href="{{url}}" class="hover:underline">{{name}}</a> 
        {{/foreach}} 
        • {{date published_at format="MMMM D, YYYY"}}
      </div>
      {{#if tags}}
        <div class="tags space-x-2">
          {{#foreach tags}}
            <a href="{{url}}" class="px-2 py-1 bg-dark hover:bg-highlight text-sm rounded">{{name}}</a>
          {{/foreach}}
        </div>
      {{/if}}
    </section>

    <!-- Main Post Content -->
    <section>
      {{{content}}}
    </section>

    <!-- Author Box -->
    <section class="author-box mt-12 flex items-center">
      {{#foreach authors}}
      <div class="author flex items-center space-x-4">
        <img src="{{img_url profile_image size="s" format="webp"}}" alt="{{name}}" class="w-12 h-12 rounded-full">
        <div>
          <h3 class="font-bold text-lg">{{name}}</h3>
          <p class="text-light text-sm">{{bio}}</p>
        </div>
      </div>
      {{/foreach}}
    </section>
  </article>

  {{/post}}

</main>
