{{!< default}}

{{#post}}
<main id="main">

<article class="container md:ml-32 p-6 md:pl-32">

<section class="py-0 md:py-0">
    <div class="px-4">
        <div class="grid grid-cols-12 gap-4">
            <!-- Post Tags and Title -->
            <div class="col-span-12 md:col-span-6 lg:col-span-5">
                <div class="flex flex-col h-full">
                    <!-- Tags -->
                    <h6 class="text-light font-thin">Tags:</h6>
                    {{#foreach tags}}
                    <h6 class="text-light text-opacity-40 font-thin">
                        <a href="{{url}}" class="underline hover:text-lighter">{{name}}</a>
                    </h6>
                    {{/foreach}}
                    
                    <!-- Post Title -->
                    <h2 class="text-2xl font-light md:text-4xl leading-tight mt-4">
                        {{title}}
                    </h2>
                </div>
            </div>

            <!-- Feature Image and Author Info -->
            <div class="col-span-12 md:col-span-6 lg:col-span-5 lg:col-start-8">
                <!-- Feature Image -->
                {{#if feature_image}}
                <div class="my-6 md:my-0">
                    <picture>
                        <!-- WebP format -->
                        <source 
                            srcset="{{img_url feature_image size="s" format="webp"}} 300w,
                                    {{img_url feature_image size="m" format="webp"}} 600w,
                                    {{img_url feature_image size="l" format="webp"}} 1000w,
                                    {{img_url feature_image size="xl" format="webp"}} 2000w"
                            sizes="(min-width: 1400px) 1400px, 92vw"
                            type="image/webp"
                        >
                        <!-- Fallback image -->
                        <img
                            srcset="{{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 600w,
                                    {{img_url feature_image size="l"}} 1000w,
                                    {{img_url feature_image size="xl"}} 2000w"
                            sizes="(min-width: 1400px) 1400px, 92vw"
                            src="{{img_url feature_image size="s"}}"
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                            class="mb-8 w-full object-cover"
                            loading="lazy"
                        >
                    </picture>
                </div>
                {{/if}}

                <!-- Author Info -->
                <div class="flex items-center mt-12">
                    {{#foreach authors}}
                        <div class="mr-4">
                            {{#if profile_image}}
                            <a href="{{url}}" rel="author" aria-label="Author: {{name}}">
                                <img class="author-profile-image max-w-full h-auto rounded-full border" 
                                     src="{{img_url profile_image size="xs"}}" 
                                     alt="{{name}}" width="47" />
                            </a>
                            {{/if}}
                        </div>
                        <div>
                            <a href="{{url}}" class="text-lighter hover:underline" rel="author">
                                <h6 class="font-thin mt-1">{{name}}</h6>
                            </a>
                            <p class="text-xs font-thin text-pretty text-lighter">{{bio}}</p>
                        </div>
                    {{/foreach}}
                </div>
            </div>
        </div>

        <!-- Post Content -->
        <div id="content" class="mt-8">
            {{content}}
        </div>
    </div>
</section>

</article>
</main>
{{/post}}
