{{!< default}}
{{#post}}
<article class="container mx-auto p-6 md:pl-32">


<section class="py-0 md:py-0">
  <div class="px-4">
    <div class="grid grid-cols-12">
      <div class="col-span-12 md:col-span-6 lg:col-span-5">
        <div class="flex flex-col h-full">
        <h6>Tags:</h6>
        {{#foreach tags }}
          <h6 class="text-light text-opacity-40 font-thin"><em><i><a href="{{url}}">{{name}}</a></i></em></h6>
        {{/foreach}}
        <h2 class="text-[32px] font-light md:text-[45px] leading-tight">
            {{title}}
        </h2>
        <!-- avatar -->

    </div>
</div>

    <div class="col-span-12 md:col-span-6 lg:col-span-5 lg:col-start-8">
        <div class="my-6 md:my-0">
            <picture>
    <!-- Serve the AVIF format if the browser supports it -->
    <!-- Remove this block when using animated images as feature images -->
    <source 
        srcset="{{img_url feature_image size="s" format="avif"}} 300w,
                {{img_url feature_image size="m" format="avif"}} 600w,
                {{img_url feature_image size="l" format="avif"}} 1000w,
                {{img_url feature_image size="xl" format="avif"}} 2000w"
        sizes="(min-width: 1400px) 1400px, 92vw" 
        type="image/avif"
    >
    <!-- Serve the WebP format if the browser supports it -->
    <source 
        srcset="{{img_url feature_image size="s" format="webp"}} 300w,
                {{img_url feature_image size="m" format="webp"}} 600w,
                {{img_url feature_image size="l" format="webp"}} 1000w,
                {{img_url feature_image size="xl" format="webp"}} 2000w"
        sizes="(min-width: 1400px) 1400px, 92vw" 
        type="image/webp"
    >
    <!-- Serve original file format as a fallback -->
    <img
        srcset="{{img_url feature_image size="s"}} 300w,
                {{img_url feature_image size="m"}} 600w,
                {{img_url feature_image size="l"}} 1000w,
                {{img_url feature_image size="xl"}} 2000w"
        sizes="(min-width: 1400px) 1400px, 92vw"
        src="{{img_url feature_image size="s"}}"
        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
    >
</picture>
        </div>
                <div class="flex items-center mt-12">
            <div class="mr-2">
                    {{#foreach authors}}
                        {{#if profile_image}}
                            <a href="{{url}}" rel="author">
                                <img class="author-profile-image max-w-full h-auto rounded-full border" src="{{img_url profile_image size="xs"}}" alt="{{name}}" width="47" />  
                                <div class="text-start">
                                <h6 class="font-bold">{{name}}</h6>
                            </a>
                            <p class="text-sm font-thin text-pretty text-light">{{bio}}</p>
                            </div>
                        </div>
                    {{else}}
                        <a href="{{url}}" rel="author">{{> "icons/avatar"}}</a>
                    {{/if}}
                    {{/foreach}}
        </div>
      </div>
    </div>
    <div id="content">

            {{content}}

    </div>
  </div>
</section>




</article>
{{/post}}