


{{!< default}}
<main id="main" class="container pt-6 pb-6 mx-auto overflow-x-scroll overflow-y-scroll md:pl-64">
{{> "tags-nav" }}

{{#tag}}
  	{{#if feature_image}}
    	<img src="{{feature_image}}" alt="{{name}}" />
    {{/if}}

  	<h1 class="pb-4 text-4xl">{{name}}</h1>
    {{#if description}}
      <h2 class="pb-4 text-xl">{{description}}</h2>
    {{/if}}

{{/tag}}
    <!-- Post Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {{#foreach posts}}
        <article class="overflow-hidden border rounded-lg border-dark bg-dark shadow-sm shadow-dark-700/25">
            
            <a href="{{url absolute="true"}}" alt="{{title}}">
            <img alt="{{title}}"
                src="{{img_url feature_image absolute size="xs" format="webp"}}"
                class="object-cover w-full h-56" {{#is "paged, tag"}} loading="lazy"{{/is}} />
            </a>

            <div class="p-4 sm:p-6">
                <a href="{{url absolute="true"}}" class="block">
                    <h3 class="text-lg font-medium text-lighter">
                        {{title}}
                    </h3>
                </a>

                <p class="mt-2 text-sm line-clamp-3 text-light">
                    {{excerpt words="260"}}
                </p>

                <a href="{{url absolute="true"}}" class="inline-flex items-center mt-4 text-sm font-medium group gap-1">
                    <span aria-hidden="true" class="block transition-all group-hover:ms-0.5">
                        Full post &rarr;
                    </span>
                </a>
            </div>
        </article>
        {{/foreach}}
    </div>

    <!-- Pagination -->
    <div class="flex justify-center mt-6 pagination">
        <ul class="flex items-center space-x-4">
            <!-- Previous Page Link -->
            {{#if pagination.prev}}
            <li>
                <a href="{{page_url pagination.prev}}" class="px-3 py-1 rounded-lg text-light hover:text-highlight bg-dark">&larr; Newer Posts</a>
            </li>
            {{/if}}

 
            <!-- Next Page Link -->
            {{#if pagination.next}}
            <li>
                <a href="{{page_url pagination.next}}" class="px-3 py-1 rounded-lg text-light hover:text-highlight bg-dark">Older posts &rarr;</a>
            </li>
            {{/if}}
        </ul>
    </div>
    </main>

